*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    background-image: linear-gradient(to top, #F2D750, #F2A516);
}

/*Cabeça*/

.cabecalho_logo{
    height: 120px;
    margin-top: 5px;
    text-align: center;
}
.logo{
    width: 120px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #ff1a01;
}


/*Menu*/

.Links{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
nav li{
    display: inline-block;
    background-color: #ff51016e;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
nav li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
}
nav li:hover{
    background-color: #FF5001;
}


/*Corpo*/
main{
    display: flex;
}
.section {
    height: 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
/*Cada seleção*/
.one_section{

    width: 600px;
    display: flex;
    height: 153px;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 1 200px;
} 
.one_section > img:hover{
    transform: scale(1.1);
    filter: blur(0.8px);
    cursor: pointer;
}
.HotDog_gourmet{
    border-radius: 10px;
    height: 150px;
    background: no-repeat center;
    background-size: cover;
    position: absolute;
    width: 300px;
}
 
.name_gourmet{
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.512);
    width: 300px;
    border-radius: 15px;
    padding: 5px;
}

/*Cardapio*/

.cardapio{
    flex: 1 0 35%;
    margin-left: 30px;
}
.son_cardapio{
    text-align: center;
    height: 470px;
    width: 30vw;
}

/*rodape*/
footer{
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
    background-color: #ff5101e2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rede_social{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.rede_social >img{
    margin-top: 5px;
    width: 60px;
    height: 50px;
    padding: 10px;

}

.rede_social>img:hover{
    cursor: pointer;
    background-color: #ff1a01;
    border-radius: 40%;
    padding: 5px;
}
.info{
    padding: 5px;
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
}