*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{

    background-image: linear-gradient(to top, #F2D750, #F2A516);
    background-attachment: fixed;
}

/*Cabeça*/

.logo{
    width: 120px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #FF5001;
}
.cabecalho_logo{
    height: 130px;
    margin-top: 5px;
    text-align: center;
}

/*Corpo*/

.section {
    height: 70vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.one_section > img:hover{
    
    filter: blur(0.8px);
    transform: scale(1.1);
    cursor: pointer;
}
.HotDog_gourmet{
    border-radius: 10px;
}
.one_section{

    width: 600px;
    display: flex;
    height: 153px;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 1 200px;
}
img{
    height: 150px;
    background: no-repeat center;
    background-size: cover;
    position: absolute;
    width: 300px;
}

.name_gourmet{
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.512);
    width: 300px;
    border-radius: 15px;
    padding: 5px;
}

main{
    display: flex;
}
.cardapio{
    flex: 1 0 35%;
    margin-left: 30px;
}
.son_cardapio{
    text-align: center;
    height: 70vh;
    width: 30vw;
}
.rodape{
    margin-top: 8px;
    height: 60px;
    width: 100%;
    background-color: #ff5101b5;
}
.rodape>div{
    display: flex;
    width: 100px;
}
.rede_social{
    width: 40px;
    height: 30px;
    
}

